* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: auto;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8px;
}

.menu {
    margin-right: 8px;
}

.logo {
    margin-top: 8px;
    margin-left: 8px;
}

#container {
    width: 100%;
}

#container .titulo {
    background-color: #F0F0F0;
    width: 100%;
    padding: 16px 0;
    text-align: center;
}

#container .titulo p {
    font-weight: 400;
    font-size: 18px;
    line-height: 19.8px;
    letter-spacing: -0.8px;
    margin-bottom: 0;
}

#container .titulo .url p {
    font-weight: 700;
    font-size: 26px;
    line-height: 28.6px;
    letter-spacing: -0.8px;
    margin-top: 0;
}

#container .titulo .linha {
    background-color: black;
    width: 60px;
    height: 4px;
    margin: 6px auto;
}

#container .artigo1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 0;
}

#container .artigo1 .card1 {
    text-align: center;
    max-width: 800px;
    padding: 0 20px;
}

#container .artigo1 h1 {
    font-weight: 700;
    font-size: 46px;
    line-height: 50.6px;
    margin-bottom: 10px;
}

#container .artigo1 p {
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 20px;
}

#container .artigo2 {
    display: flex;
    width: 100%;
}

#container .artigo2 .card3 {
    background-image: url("imagens/Frame3.png");
    background-size: cover;
    width: 50%;
    height: 322px;
}

#container .artigo2 .card4mae {
    background-color: #F0F0F0;
    width: 50%;
    height: 322px;
    display: flex;
    align-items: center;
}

#container .artigo2 .card4mae .card4 {
    padding: 0 16px;
    max-width: 600px;
    margin: 0 auto;
}

#container .artigo2 .card4mae .card4 h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 33px;
    margin-bottom: 20px;
}

#container .artigo2 .card4mae .card4 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 17.6px;
}

#container .artigo3 {
    width: 100%;
}

#container .artigo3 .card6 {
    background-image: url("https://s3-alpha-sig.figma.com/img/c190/71d2/9c77fac74f2ae59752ceefbe6b0c523e?Expires=1741564800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=W~FkfYA18QUaKswLyoKI7h9v1tZgNBBh1hH34w25CmEFiRRLNneG~wt0oOqkvuj1yb~nww12ZkR9UHIMnc1TinuficEf55KoBwVbS42KYF3O-RxaFv4kHljyGbjd5r35o6lgha4k5sd7OvKV7qtKTpZsVuxFDj0mxdzm7rmwNPjizJxh9KpetXPZrSNKKRVgpvyjW0Dg6y1ONw-0b3pThiwhpHSiwlMkQZbiU3y1HsADbenBKlsYqmZsMUdAM6ocf6mkEt7STQyxvggwtDUK3nrntGsCdYd9lewxkwgHT5959h6iR6j1xArj~oo4tIkvbHH6V5lgm1YxVg7IuPwr-g__");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 323px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container .artigo3 .card6 h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 26.4px;
    margin-bottom: 6px;
    max-width: 640px;
}

#container .artigo3 .card6 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 17.6px;
    max-width: 640px;
}

#container .artigo4 {
    display: flex;
    width: 100%;
}

#container .artigo4 .card7,
#container .artigo4 .card8,
#container .artigo4 .card9 {
    background-size: cover;
    width: 33.33%;
    height: 315px;
}

#container .artigo4 .card7 {
    background-image: url("imagens/Frame 305.png");
}

#container .artigo4 .card8 {
    background-image: url("imagens/Frame 306.png");
    position: relative;
}

#container .artigo4 .card9 {
    background-image: url("imagens/Frame 307.png");
}

#container .Farewell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 0;
}

#container .Farewell .textoFarewell {
    text-align: center;
}

#container .textoFarewell h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 26.4px;
    margin-bottom: 10px;
}

#container .textoFarewell p {
    font-weight: 400;
    font-size: 12px;
    line-height: 13.2px;
}

#footer {
    background-color: #F0F0F0;
    padding: 30px 0;
    width: 100%;
}

#footer .menuFooter {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto 30px;
    padding: 0 30px;
}

#footer .menuFooter ul {
    list-style: none;
    padding: 0;
}

#footer .menuFooter ul li {
    margin-bottom: 10px;
}

.redeSociais {
    display: flex;
    gap: 10px;
}

.social-imagens {
    list-style: none;
}

#footer a {
    color: #0D0D0D;
    font-weight: 400;
    font-size: 16px;
    line-height: 13.2px;
    text-decoration: underline;
}

#footer .informações {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
    font-size: 12px;
}

@media screen and (max-width: 940px) {
    #container .artigo2 .card4mae .card4 {
        padding: 0 10px;
    }
    
    #container .artigo2 .card4mae .card4 h2,
    #container .artigo2 .card4mae .card4 p {
        max-width: 100%;
    }
    
    #footer .informações {
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        padding-left: 0;
    }
    
    #container .artigo2 {
        flex-direction: column;
    }
    
    #container .artigo2 .card3,
    #container .artigo2 .card4mae {
        width: 100%;
    }
    
    #container .artigo3 .card6 {
        padding: 30px;
    }
    
    #container .artigo4 {
        flex-direction: column;
    }
    
    #container .artigo4 .card7,
    #container .artigo4 .card8,
    #container .artigo4 .card9 {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #container .artigo1 h1 {
        font-size: 36px;
        line-height: 40px;
    }
    
    #container .artigo1 p {
        font-size: 18px;
    }
    
    #container .artigo3 .card6 {
        padding: 20px;
    }
    
    #footer .menuFooter {
        flex-direction: column;
    }
    
    #footer .menuFooter > div {
        margin-bottom: 20px;
    }
    
    .container-redeSociais {
        margin-top: 20px;
    }
}

@media screen and (max-width: 375px) {
    #container .artigo1 h1 {
        font-size: 28px;
        line-height: 32px;
    }
    
    #container .artigo2 .card4mae .card4 h2 {
        font-size: 24px;
        line-height: 28px;
    }
}
